@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

.Cover {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1565814329452-e1efa11c5b89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80);
  background-size: cover;
  height: 1000px;
  overflow: clip;
  margin: 0;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.page-container {
  width: 100%;
  margin: 15% auto;
}
.page-grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  word-wrap: break-word; 
  padding: 10px;
}

h4 {
  font-weight: 500;
}

.page-grid-item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  text-align: center;
}

.page-text {
  font-size: 12px;
}

.page-col-4 {
  width: 25%;
  float: left;
}

h1 {
  font-size: 38px;
  text-transform: uppercase;
  line-height: 1;
}

.page-Link {
  background-color: none;
  width: fit-content;
  color: rgb(116 116 116);
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  .page-container {
    width: 1100px;
  }
  h1 {
    font-size: 58px;
  }
}
