@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
    color: black;
}

li {
    margin-right: 5px;
    margin-left: 5px;
}

@layer utilities {
    .nav-bar {
        @apply rounded-full px-6 py-2 whitespace-nowrap text-gray_text font-semibold;
    }

    .nav-bar.active {
        @apply bg-primary text-secondary;
    }

    .field-label {
        @apply text-primary text-base font-semibold leading-none;
    }

    .field-input {
        @apply text-base leading-none text-tertiary p-3 mt-4 bg-secondary bg-opacity-80 border rounded border-tertiary placeholder-tertiary cursor-text;
    }
}

@layer components {
    .nav {
        @apply whitespace-nowrap text-base font-medium flex-initial;
    }

    .nav-selected {
        @apply bg-primary rounded-full px-6 py-2;
    }
}
